.app-ctn {
  background-color: var(--dashboard-background);
}

.main-ctn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-ctn > div {
  flex-basis: 7%;
  position: sticky;
  top: 9vh;
}

.app-body {
  flex-basis: 93%;
  width: 100%;
  padding: 3vh 0vw 0 2vw;
}
